<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Climbing-addict</title>
</head>

<body>

    <header class="header">

        <div class="title_logo">
            <img class="logo" src="/img/logo.png" alt="logo site web">
            <h1>ClimbingAddict</h1>

        </div>

        <nav class="nav">
            <a class="navButton" href="/">Home</a>
            <a class="navButton" href="/shop">Boutique</a>
            <% if (locals.isAdmin) { %>
                <a class="navButton" href="/admin">Administration</a>
                <a class="navButton" href="/logout">Déconnexion</a>
                <% } else {%>
                    <% if(locals.isUser){ %>
                        <a class="navButton" href="/logout">Déconnexion</a>
                        <% } else { %>
                            <a class="navButton" href="/register">Inscription</a>
                            <a class="navButton" href="/login">Connexion</a>
                            <% } %>
                                <% } %>
        </nav>
        <button class="dyslexie" id="dys">Dyslexie</button>
    </header>
    <main>
        <%- include(template) -%>
    </main>

    <footer class="footer">
        <div class="footer_1">
            <a href="/policies">politique de confidentialité</a>
            <div class="favicons">
                <a href="https://www.instagram.com/"><img class="favicon" src="./img/favicon/icons8-instagram.svg"
                        alt="icone instgram"></a>
                <a href="https://fr-fr.facebook.com/"><img class="favicon" src="./img/favicon/icons8-facebook.svg"
                        alt="icone facebook"></a>
                <a href="https://twitter.com/i/flow/login?redirect_after_login=%2F%3Flang%3Dfr"><img class="favicon"
                        src="./img/favicon/icons8-twitter.svg" alt="icone twitter"></a>
            </div>
        </div>
        <div class="footer_2">
            <p>contact:</p>
            <ul>
                <li><a href="mailto:timothee.quillon@gmail.com"> Email : timothee.quillon@gmail.com</a></li>
                <li><a href="tel:+123456789">Téléphone : 1234567890</a></li>
            </ul>
        </div>
    </footer>
    <script src="/js/dyslexia.js"></script>
    <script src="/js/hover.js"></script>
</body>

</html>