// style du layout des pages
body {
    margin: auto;
    background-color: rgb(237, 237, 237);
}

p {
    text-align: justify;
    color: var(--textColor)
}

.logo {
    width: 30%;
    margin: 1rem;
}

.title_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header {
    z-index: 1;
    background-image: url('../img/header.jpg');
    height: 40%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;


    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--backcolor);
        width: 100%;

        .navButton {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0.5rem;
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
            width: 100%;
        }

        .navButton:hover {
            background-color: var(--buttonBackcolor);
            color: #333;
        }
    }
}

.footer {
    background-image: url('../img/footer.jpg');
    height: 10rem;
    background-size: 100% 100%;
    font-size: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .footer_1,
    .footer_2 {
        margin: auto;
        width: 45%;
    }

    >div {
        display: flex;
        flex-direction: column;

        a {
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        .favicons {
            display: flex;
            flex-direction: row;

            a {
                width: 25%;

                .favicon {
                    width: 100%;
                }

            }

        }
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav {
        flex-direction: row;
    }

    .logo {
        width: 20%;
    }
}

@media screen and (min-width: 1023px) {
    .header {
        flex-direction: row;
        align-items: center;

        .nav {
            height: 10%;
            flex-direction: row;
        }

        .dyslexie {
            height: 10%;
        }
    }

    .footer > div .favicons a .favicon {
        width:50%;
    }
}