@font-face {
    font-family: 'Oswald';
    src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap') format('woff');
}
@font-face {
    font-family: 'OpenDyslexic';
    src : url(../font/OpenDyslexic-Regular.woff) format('woff');
}
@font-face {
    font-family: 'OpenDyslexic';
    src : url(../font/OpenDyslexic-Italic.woff) format('woff');
    font-style:italic;
}
@font-face {
    font-family: 'OpenDyslexic';
    src : url(../font/OpenDyslexic-Bold.woff) format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'OpenDyslexic';
    src : url(../font/OpenDyslexic-Bold-Italic.woff) format('woff');
    font-weight: bold;
    font-style:italic;
}
:root {
    --backcolor: rgba(217, 217, 217, 0.4);
    --buttonBackcolor : #ffffff;
    --textColor : black;
    --colorLien:lightgray;
    --backgroundColorLien:rgb(34, 34, 247);
}

@import "normalize";
@import "home";
@import "layout";
@import "shop";
@import "form_inscri_login";
@import "admin";
@import "articles";
@import "add_post";
@import "add_product";


h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}
.dyslexia {
    font-family: 'OpenDyslexic', sans-serif;
    font-size:12px;
}

body{
    font-family: 'oswald', sans-serif;
    margin: auto;
}
p,a,ul{
    color: var(--textColor)
}
.navButton {
    text-decoration: none;
    border-bottom: 0.01em solid gray;
}



